.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.988281;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.763672;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.301376px;}
._1{width:32.100000px;}
._4{width:37.700000px;}
._2{width:43.300000px;}
._3{width:117.700000px;}
.fc3{color:rgb(5,99,193);}
.fc2{color:rgb(68,114,196);}
.fc1{color:rgb(0,112,192);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:80.000000px;}
.fs4{font-size:82.000000px;}
.fs8{font-size:96.000000px;}
.fs7{font-size:98.000000px;}
.fs3{font-size:112.000000px;}
.fs2{font-size:114.000000px;}
.fs1{font-size:176.000000px;}
.fs6{font-size:178.000000px;}
.fs0{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y15{bottom:93.992432px;}
.y1b{bottom:126.319443px;}
.y14{bottom:157.192444px;}
.y1a{bottom:166.559433px;}
.yc{bottom:176.799438px;}
.y13{bottom:178.792450px;}
.y18{bottom:196.799438px;}
.y24{bottom:203.280960px;}
.y12{bottom:210.392456px;}
.yb{bottom:217.039444px;}
.y1f{bottom:219.133293px;}
.y17{bottom:227.039444px;}
.y23{bottom:234.999451px;}
.y19{bottom:237.039444px;}
.y11{bottom:241.992462px;}
.ya{bottom:247.279449px;}
.y6{bottom:267.279449px;}
.y1e{bottom:271.933281px;}
.y10{bottom:273.592468px;}
.y22{bottom:274.440956px;}
.y1{bottom:279.202339px;}
.y9{bottom:287.519447px;}
.y16{bottom:297.519447px;}
.yf{bottom:305.192471px;}
.y21{bottom:305.360962px;}
.y5{bottom:307.519447px;}
.y1d{bottom:324.733276px;}
.ye{bottom:326.792469px;}
.y8{bottom:327.759445px;}
.y20{bottom:336.280960px;}
.y4{bottom:337.759449px;}
.y3{bottom:367.999451px;}
.y1c{bottom:377.533279px;}
.yd{bottom:401.562321px;}
.y2{bottom:444.085896px;}
.y7{bottom:445.488178px;}
.h4{height:62.421875px;}
.h5{height:74.906250px;}
.h3{height:87.390625px;}
.h2{height:137.328125px;}
.h1{height:187.265625px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x2{left:73.200012px;}
.x3{left:91.200012px;}
.x9{left:109.200012px;}
.x7{left:356.179626px;}
.x1{left:365.039062px;}
.x4{left:372.978516px;}
.x5{left:398.178772px;}
.x8{left:401.179626px;}
.x6{left:416.178833px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.735169pt;}
._1{width:42.800000pt;}
._4{width:50.266667pt;}
._2{width:57.733333pt;}
._3{width:156.933333pt;}
.fs5{font-size:106.666667pt;}
.fs4{font-size:109.333333pt;}
.fs8{font-size:128.000000pt;}
.fs7{font-size:130.666667pt;}
.fs3{font-size:149.333333pt;}
.fs2{font-size:152.000000pt;}
.fs1{font-size:234.666667pt;}
.fs6{font-size:237.333333pt;}
.fs0{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y15{bottom:125.323242pt;}
.y1b{bottom:168.425924pt;}
.y14{bottom:209.589925pt;}
.y1a{bottom:222.079244pt;}
.yc{bottom:235.732585pt;}
.y13{bottom:238.389933pt;}
.y18{bottom:262.399251pt;}
.y24{bottom:271.041280pt;}
.y12{bottom:280.523275pt;}
.yb{bottom:289.385925pt;}
.y1f{bottom:292.177724pt;}
.y17{bottom:302.719259pt;}
.y23{bottom:313.332601pt;}
.y19{bottom:316.052592pt;}
.y11{bottom:322.656616pt;}
.ya{bottom:329.705933pt;}
.y6{bottom:356.372599pt;}
.y1e{bottom:362.577708pt;}
.y10{bottom:364.789958pt;}
.y22{bottom:365.921275pt;}
.y1{bottom:372.269786pt;}
.y9{bottom:383.359263pt;}
.y16{bottom:396.692596pt;}
.yf{bottom:406.923294pt;}
.y21{bottom:407.147949pt;}
.y5{bottom:410.025930pt;}
.y1d{bottom:432.977702pt;}
.ye{bottom:435.723292pt;}
.y8{bottom:437.012594pt;}
.y20{bottom:448.374613pt;}
.y4{bottom:450.345932pt;}
.y3{bottom:490.665934pt;}
.y1c{bottom:503.377706pt;}
.yd{bottom:535.416428pt;}
.y2{bottom:592.114527pt;}
.y7{bottom:593.984238pt;}
.h4{height:83.229167pt;}
.h5{height:99.875000pt;}
.h3{height:116.520833pt;}
.h2{height:183.104167pt;}
.h1{height:249.687500pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x2{left:97.600016pt;}
.x3{left:121.600016pt;}
.x9{left:145.600016pt;}
.x7{left:474.906169pt;}
.x1{left:486.718750pt;}
.x4{left:497.304688pt;}
.x5{left:530.905029pt;}
.x8{left:534.906169pt;}
.x6{left:554.905111pt;}
}
